ipython
Cython
ray
transforms3d
tqdm
opencv-python
numba
tensorboardX
scikit-image
trimesh
yacs
h5py
loguru
gdown 
pyrender
pyglet
open3d 
spconv-cu117  
setuptools
pillow
wandb
pyyaml
matplotlib
black
imageio
easydict
numpy_indexed
pyvista
plyfile
pycuda
